.divider:after, .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.invalid_credentials {
    height: calc(100% - 73px);
    color: red;
}

form {
    width: 100%;
    height: 100%;
    min-width: 30rem;
    min-height: 20rem;
    background: white;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.signIn {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    flex-direction: column;
    background: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

html {
    font-size: 16px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.main {
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

input {
    outline: solid 3px dodgerblue;
    background: white;
}

.input {
    padding-bottom: 2rem;
}

.px-4.py-5 {
    margin-top: 2rem;
    background: white;
}

.forgot {
    background: white;
    display: flex;
    justify-content: flex-end;
}

h1 {
    color: #992233;
    border-bottom: 4px solid #0099e6;
}

.user-info {
    text-align: right;
    padding: 5px;
    margin-right: 10px;
    font-weight: 500;
    letter-spacing: 2px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

body {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, dodgerblue, lightcoral);
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.text-center.text-lg-start.mt-4.pt-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.btn.btn-primary.btn-lg {
    width: 100%;
    background: dodgerblue;
}

.reroute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
