/*
    Color palette:
        blue: #0099e6
        red: #ff4b4b
        green: #34cf50
 */

h1 {
    color: #34cf50;
    border-bottom: 4px solid #0099e6;
}
.user-info {
    text-align: right;
    padding: 5px;
}
