.user-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 60rem;
}

h1 {
    padding-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    margin-left: 2rem;
}

form > * {
    padding-bottom: 3rem;
}

.input-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.input__container {
    display: flex;
}

.btn.btn-primary.btn-lg {
    width: 70%;
    background: var(--main-color);
    border-color: white !important;
}

.link {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-control.form-control-lg{
    width: 94%;
}

.current-status p {
    background-color: #f2f4f8;
    border: 2px solid #d1d5db;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.5rem;
    font-size: 22px;
    margin: 1rem 0;
    font-weight: 500;
}

label {
    margin-left: 1rem;
}
